/*boxes*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2% 0 2%;
}

header nav {
  padding-bottom: 20px;
}

header ul {
  display: flex;
  justify-content: space-around;
  font-weight: 500;
  font-size: 15px;
  margin: 0;
}

/*nav*/

header li,
header li:hover,
header li:active {
  padding: 40px 25px 0 25px;
  border-top: 3px solid #0065fc;
}

header li:nth-child(1) a {
  color: #0065fc;
}

header li:nth-child(2) {
  border-top: 3px solid white;
}

header li:hover,
header li a:hover,
header li a:active,
header li a:focus {
  color: #0065fc;
  font-weight: 600;
}

header li:visited {
  border-top: none;
  color: #d9d9d9;
}

header li:nth-child(2) a:visited {
  color: black;
}

/*img*/

header img {
  height: 45px;
  margin-top: 30px;
  padding-left: 20px;
}

/*RESPONSIVE*/

@media (max-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
  }

  header nav {
    min-width: 275px;
    width: 100%;
    padding-bottom: 0;
  }

  header ul {
    justify-content: space-around;
  }

  header li {
    width: 100%;
    padding-bottom: 20px;
    border-top: none;
    border-bottom: 3px solid #0065fc;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  header li:nth-child(2) {
    border-bottom: 3px solid #f2f2f2;
    border-top: none;
  }

  header li:hover,
  header li:active,
  header li:focus,
  header li:visited,
  header li:nth-child(2):visited {
    padding: 0 25px 20px 25px;
  }

  header li:hover,
  header li:active,
  header li:focus {
    border-bottom: 3px solid #0065fc;
    color: #0065fc;
  }

  header li:hover {
    border-top: none;
  }

  header li:visited,
  header li:nth-child(2) a:visited {
    color: black;
  }

  header li:nth-child(2):visited {
    border-bottom: 3px solid #f2f2f2;
  }

  header img {
    margin-left: 0;
  }
}