/*boxes*/

.hostingSection {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  width: 100%;
  gap: 2.5%;
}

.hosting {
  height: 100%;
  padding: 3% 3% 4% 3%;
  flex: 1;
}

.hostingBox {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/*cards*/

.hostingCard {
  width: 240px;
  height: 200px;
  line-height: 25px;
  padding-bottom: 2%;
  margin-bottom: 4%;
  display: flex;
  flex-direction: column;
}

/*img*/

.hostingCard img {
  height: 65%;
  border-top-right-radius: 18px;
  border-top-left-radius: 18px;
  padding-bottom: 5px;
}

/*global*/

.hosting p {
  font-size: 20px;
  font-weight: 800;
  padding-top: 2%;
}

.hosting p a:hover {
  color: #0065fc;
}

.hosting p a:visited {
  color: black;
}

/*_______________________________________POPULAR______________________________________*/

/*boxes*/

.popular {
  display: flex;
  flex-direction: column;
  width: 420px;
  height: 100%;
  padding: 3% 3% 0 3%;
}

.popularBox {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*cards*/

.popularCard {
  width: 340px;
  height: 150px;
  margin-bottom: 10%;
}

/*article*/

.popular article {
  display: flex;
  flex-direction: row;
}

.popular article div:nth-child(2) {
  display: flex;
  flex-direction: column;
  line-height: 30px;
  padding: 2% 5% 1% 2%;
}

.popular article div:nth-child(2) .starRating {
  padding-top: 20%;
}

/*img*/

.popularCard img {
  width: 130px;
  height: 100%;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
}

/*global*/

.popularTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.popularTitle i {
  font-size: 20px;
}

.popular h4 {
  line-height: 20px;
}

/*RESPONSIVE*/

@media (max-width: 1360px) {
  .hostingCard {
    width: 100%;
  }
}

@media (max-width: 1031px) {
  .hostingBox {
    display: flex;
    flex-direction: column;
  }

  .hostingCard {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .hostingSection {
    gap: none;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .hosting {
    width: 100%;
    background: none;
    padding: 0;
  }

  .hostingBox {
    display: flex;
    flex-direction: column;
  }

  .hostingCard {
    width: 100%;
    height: 450px;
    min-width: 270px;
    min-height: 220px;
  }

  .hostingCard img {
    height: 83%;
  }

  .popular {
    order: -1;
    width: 100%;
  }

  .popularCard {
    width: 100%;
    margin-bottom: 5%;
    min-width: 340px;
    min-height: 150px;
  }

  .popular article div:nth-child(2) .starRating {
    padding-top: 50px;
  }
}

@media (max-width: 768px) {
  .hosting {
    min-width: 375px;
  }

  .hostingCard {
    width: 100%;
    height: 220px;
    min-width: 270px;
  }

  .hostingCard img {
    height: 60%;
  }

  .hosting p {
    padding-left: 0;
    padding-top: 10px;
  }

  .hosting h3 {
    padding-left: 1%;
  }

  .popular {
    min-width: 375px;
    border-radius: 0;
    padding: 8% 6% 0 6%;
  }

  .popularCard {
    width: 100%;
    min-width: 340px;
    height: 150px;
  }

  .popular h3 i {
    margin-left: 80px;
  }

  .hosting p {
    padding-left: 10px;
  }

  .popular article div:nth-child(2) .starRating {
    padding-top: 15%;
  }
}