* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

/*boxes*/

main {
  width: 100%;
  height: auto;
  white-space: normal;
}

/*FONTS*/

/*Main titles*/

h1 {
  font-weight: 700;
  font-size: 25px;
}

h2 {
  font-weight: 500;
  font-size: 18px;
}

/*Section title*/

h3 {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 30px;
}

/*Card titles*/

h4 {
  font-size: 17px;
  font-weight: 700;
  letter-spacing: -0.5px;
}

h5 {
  font-size: 15px;
  font-weight: 400;
}

h4,
h5,
.starRating {
  padding-left: 10px;
}

/*Star icon*/

.starRating {
  display: flex;
  justify-content: flex-start;
  color: #0065fc;
  font-size: 13px;
}

/*img*/

section img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/*card*/

.AnimCard {
  -webkit-transition: all 1s ease;
  /* Safari et Chrome */
  -moz-transition: all 1s ease;
  /* Firefox */
  -ms-transition: all 1s ease;
  /* Internet Explorer 9 */
  -o-transition: all 1s ease;
  /* Opera */
  transition: all 1s ease;
}

.AnimCard:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}

article {
  box-shadow: 0px 0px 20px #c2c1c1;
  background-color: white;
}

.hosting article,
.popular article {
  border: 4px solid white;
}

/*boxes*/
section {
  padding: 2.5% 0 2.5% 0;
}

.hosting,
.popular,
footer {
  background-color: #f2f2f2;
}

.hosting,
.popular,
.activity article,
.hostingCard,
.popularCard {
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
}

/*Responsive*/

@media (max-width: 992px) {
  .AnimCard {
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 2%;
  }

  section {
    padding: 10% 0 9% 0;
  }
}