/*boxes*/

.hostingSection {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    margin: auto;
    width: 90%;
    gap: 3%;
}

.hosting {
    height: 100%;
    padding: 3% 3% 1% 3%;
    flex: 1;
}

.hostingBox {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    Align-items: center; 
}

/*cards*/

.hostingCard {
    width: 230px;
    height: 220px;
    line-height: 1px;
    padding-bottom: 2%;
    margin-bottom: 4%;
}

/*img*/

.hostingCard img  {
    height: 65%;
    border-top-right-radius: 18px;
    border-top-left-radius: 18px;
}

/*global*/

.hostingCard .starRating {
    padding-left: 10px;
}

.hosting p{
    font-size: 20px;
    font-weight: 800;
    margin-left: 20px;
}

/*_______________________________________POPULAR______________________________________*/

/*boxes*/

.popular {
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3% 3% 1% 3%;
}

.popular div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*cards*/

.popularCard {
    width: 320px;
    height: 160px;
    margin-bottom: 9%;
}

/*img*/

.popularCard img {
    width: 45%;
    height: 100%;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    float: left;
    padding-right: 10px;
}

/*global*/

.popular h4 {
    margin: 10px 0 5px 0;
}

.popular h5 {
    margin-bottom: 55px;
}

.popular h4, .popular h5 {
    margin-left: 45%;
}

.popular div:first-child i {
    font-size: 25px;
}

.popular .starRating {
padding-left: 10px;
}


/*RESPONSIVE*/

@media (max-width: 1031px) {
    .hostingBox {
        display: flex;
        flex-direction: column;
    }

    .hostingCard {
        width: 100%;
    }
}

@media (max-width: 992px) {

    .hostingSection {
        gap: 0;
        display:flex;
        flex-direction: column;
    }

    .hosting {
        width: 100%;
        padding: 2% 2% 1% 2%;
        background: none;
    }
    
    .hostingBox {
        display: flex;
        flex-direction: column;
    }

    .hostingCard {
        width: 100%;
        height: 450px;
        min-width: 270px;
        min-height: 220px;
    }

    .hostingCard img  {
        height: 83%;
    }

    .popular {
        order: -1;
        width: 100%;
        margin-bottom: 20px;
    }

    .popularCard {
        width: 100%;
        margin-bottom: 5%;
        min-width: 320px;
        min-height: 160px;
    }
}

@media (max-width: 768px) {

    .hosting {
        padding: 0;
        min-width: 375px;
    }

    .hostingCard {
        width: 100%;
        height: 220px;
        min-width: 270px;
    }

    .hostingCard img  {
        height: 60%;
    }

    .popular {
        min-width: 375px;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
}

    .popular h3 i {
        margin-left: 80px;
    }

    .hosting p{
        margin-left: 5px;
    }
}