/*boxes*/

.hostingSection {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    margin: auto;
    width: 90%;
    gap: 2.5%;
}

.hosting {
    height: 100%;
    height: auto;
    padding: 3% 2% 4% 2%;
    flex: 1;
}

.hostingBox {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    Align-items: center;
}

/*cards*/

.hostingCard {
    width: 230px;
    height: 200px;
    line-height: 25px;
    padding-bottom: 2%;
    margin-bottom: 4%;
    display: flex;
    flex-direction: column;
}

/*img*/

.hostingCard img  {
    height: 65%;
    border-top-right-radius: 18px;
    border-top-left-radius: 18px;
    padding-bottom: 5px;
}

/*global*/

.hosting p{
    font-size: 20px;
    font-weight: 800;
    padding-left: 20px;
    padding-top: 20px;
}

.hosting h3 {
    padding-left: 20px;
}

/*_______________________________________POPULAR______________________________________*/

/*boxes*/

.popular {
    width: 400px;
    height: auto;
    padding: 3% 2% 0 2%;
}

.popularBox {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*cards*/

.popularCard {
    width: 340px;
    height: 150px;
    margin-bottom: 10%;
}

/*article*/

.popular article {
    display : flex;
    flex-direction: row;
}

.popular article div:nth-child(2) {
    display: flex;
    flex-direction: column;
    line-height: 30px;
    padding: 2% 5% 1% 2%;

}

.popular article div:nth-child(2) .starRating {
    padding-top: 20%;
}


/*img*/

.popularCard img {
    width: 130px;
    height: 100%;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
}

/*global*/

.popularTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.popularTitle i{
    font-size: 20px;
}

.popular h4 {
    line-height: 20px;
}


/*RESPONSIVE*/

@media (max-width: 1295px) {
    .popular {
        height: 100%;
    }
}

@media (max-width: 1031px) {
    .hostingBox {
        display: flex;
        flex-direction: column;
    }

    .hostingCard {
        width: 100%;
    }
}

@media (max-width: 992px) {

    .hostingSection {
        gap: 0;
        display:flex;
        flex-direction: column;
    }

    .hosting {
        width: 100%;
        padding: 2% 2% 1% 2%;
        background: none;
    }
    
    .hostingBox {
        display: flex;
        flex-direction: column;
    }

    .hostingCard {
        width: 100%;
        height: 450px;
        min-width: 270px;
        min-height: 220px;
    }

    .hostingCard img  {
        height: 83%;
    }

    .popular {
        order: -1;
        width: 100%;
        margin-bottom: 20px;
    }

    .popularCard {
        width: 100%;
        margin-bottom: 5%;
        min-width: 340px;
        min-height: 150px;
    }

    .popular article div:nth-child(2) .starRating {
        padding-top: 50px;
    }
    
}

@media (max-width: 768px) {

    .hosting {
        padding: 0;
        min-width: 375px;
    }

    .hostingCard {
        width: 100%;
        height: 220px;
        min-width: 270px;
    }

    .hostingCard img  {
        height: 60%;
    }

    .hosting p{
        padding-left: 0;
        padding-top: 20px;
    }
    

    .popular {
        min-width: 375px;
        padding-bottom: 5%;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
}

    .popularCard {
        width: 340px;
        height: 150px;
    }

    .popular h3 i {
        margin-left: 80px;
    }

    .hosting p{
        margin-left: 5px;
    }

    .popular article div:nth-child(2) .starRating {
        padding-top: 15%;
    }

    .popularTitle {
        padding: 10% 3% 1% 3%;
    }
}