/*_______________________________________GLOBAL______________________________________*/

* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
   }

.container {
    max-width: 1440px;
    margin: 0 auto;
}

/*FONTS*/


/*Main titles*/

h1 {
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 10px;
}

h2 {
    font-weight: 500;
    font-size: 18px;
    margin: 5px 0 5px 0;
}

/*Section title*/

h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px 0 20px 10px;
    padding: 0;
}

/*Card titles*/

h4 {
    font-size: 17px;
    font-weight: 700;
    letter-spacing: -.5px;
    padding-left: 10px;
}

h5 {
    font-size: 15px;
    font-weight: 400;
    margin: 0;
    padding-left: 10px;
}

/*_______________________________________HEADER______________________________________*/

/*boxes*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
}

header nav {
    width: 20%;
    padding-bottom: 20px;
}

header ul {
    display: flex;
    justify-content: space-around;
    font-weight: 500;
    margin: 0;
}

/*nav*/

header li {
    padding: 40px 25px 0 25px;
    border-top: 3px solid #0065FC;
}

header li:nth-child(1) a{
    color: #0065FC;
}

header li:nth-child(2){
    border-top: 3px solid white;
}

header li:hover {
    padding: 40px 25px 0 25px;
    border-top: 3px solid #0065FC;
    color: #0065FC;
}

header li:active {
    padding: 40px 25px 0 25px;
    border-top: 3px solid #0065FC;
    color: #0065FC;
} 

header li:visited {
    border-top: none;
    color: #D9D9D9;
}

/*img*/

header img {
    height: 50px;
    margin-top: 30px;
}

/*RESPONSIVE*/

@media (max-width: 768px) {
    header {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    header nav {
        margin-top: 30px;
        min-width: 275px;
        width: 100%;
    }

    header ul {
        justify-content: space-around;
    }

    header li {
        width: 100%;
        padding: 0 0 10px 0;
        border-top: none;
        border-bottom: 3px solid #0065FC;
    }

    header li a {
        display: flex;
        justify-content: center;
    }


    header li:nth-child(2){
        border-bottom: 3px solid #f2f2f2;
        border-top: none;
    }


    header li:hover {
        padding: 0 50px 10px 50px;
        border-bottom: 3px solid #0065FC;
        color: #0065FC;
        border-top: none;
    }

    header li:active {
        padding: 0 50px 10px 50px;
        border-bottom: 3px solid #0065FC;
        color: #0065FC;
    } 
    
    header li:visited {
        padding: 0 50px 10px 50px;
        color: black;
    }

    header li:nth-child(2):visited {
        padding: 0 50px 10px 50px;
    color: black;
    border-bottom: 3px solid #f2f2f2;
    }

    header img {
        margin-left: 0;
    }
}

/*_______________________________________MAIN______________________________________*/

/*boxes*/

main {
    width: 100%;
    height: auto;
    margin-top: 40px;
    white-space: normal;
}

/*input*/

.inputBox {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin: 20px 0 15px 5px;
}

input {
    max-width: 250px;
    border: 1px solid #F2F2F2;
    padding: 15px 20px 15px 20px;
    border-left: none;
    border-right: none;
    color: black;
    font-weight: 700;
    font-size: 20px;
}

.inputBox .location {
    padding: 16px 20px 16px 20px;
    font-size: 20px;
    border-radius: 18px 0 0 18px;
    -webkit-border-radius: 18px 0 0 18px;
    -moz-border-radius: 18px 0 0 18px;
    -ms-border-radius: 18px 0 0 18px;
    -o-border-radius: 18px 0 0 18px;
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
}

.inputBox a {
    padding: 15px 20px 15px 20px;
    border-radius: 0 12px 12px 0;
    -webkit-border-radius: 0 12px 12px 0;
    -moz-border-radius: 0 12px 12px 0;
    -ms-border-radius: 0 12px 12px 0;
    -o-border-radius: 0 12px 12px 0;
    font-size: 20px;
    color: white;
    background-color:#0065FC;
    font-weight: 600;
}

.inputBox .glass {
    display: none;
}

.inputBox a:hover {
    background-color: #DEEBFF;
    color: #0065FC;
}

.inputBox input:focus{
    outline: none;
}

/*filters*/

.filter {
    width: 100%;
    font-weight: 600;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.filter ul {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.filter li {
    display: flex;
    align-items: center;
    position: relative;
    height: 50px;
    border: 2px solid #D9D9D9;
    border-radius: 50px;
   -moz-border-radius: 50px;
   -ms-border-radius: 50px;
   -o-border-radius: 50px;
   -webkit-border-radius: 50px;
   padding: 0 25px 0 60px;
   font-size: 20px;
   font-weight: 700;
   margin-right: 30px;
}

.filter li i {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -2px;
    left: -2px;
    height: 50px;
    width: 50px;
    background-color: #DEEBFF;
    border-radius: 50%;
    -webkit-border-radius: 45% 50% 50% 45%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    color: #0065FC;
}

.filter li:hover {
    color:#0065FC;
    background-color: #DEEBFF;
    border-color: #DEEBFF;
}

.filter span {
    font-size: 20px;
    font-weight: 800;
    margin-right: 20px;
}

/*global*/

main p {
    font-size: 20px;
}

main p i{
    margin-right: 12px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 2px solid #D9D9D9;
    padding: 5px 10px 5px 10px;
    font-size: 16px;
    color:#0065FC;
    font-weight: 900;
}

/*RESPONSIVE*/

@media (max-width: 768px) {

    main {
        margin-top: 20px;
    }

    h1, h2 {
        margin-left: 5px;
    }

    .inputBox {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .inputBox .search {
        display: none;
    }
    
    .inputBox .glass {
        display: inline;
        padding: 15px 14px 12px 14px;
        border-radius: 16px;
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        -ms-border-radius: 16px;
        -o-border-radius: 16px;
        font-size: 15px;
        color: white;
        background-color:#0065FC;
        font-weight: 600;
        position: relative;
        left: -4%;
        border: 3px solid #0065FC;
}

.filter {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 5px;
    min-width: 375px;
}

.filter li {
    margin-bottom: 30px;
}
}

/*_______________________________________GLOBAL SPECS______________________________________*/

/*Star icon*/

.starRating {
    display: flex;
    flex-wrap: wrap;
    color: #0065FC;
    font-size: 15px;
}

/*img*/

section img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/*card*/

.AnimCard {
    -webkit-transition: all 1s ease; /* Safari et Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* Internet Explorer 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
    }
    
.AnimCard:hover{
    -webkit-transform:scale(1.05);
    -moz-transform:scale(1.05);
    -ms-transform:scale(1.05);
    -o-transform:scale(1.05);
    transform:scale(1.05);      
    }

article {
box-shadow: 0px 0px 20px #c2c1c1;
background-color: white;
}

.hosting article, .popular article {
    border: 4px solid white;
}

.hostingCard, .popularCard {
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
}

/*cardResponsive*/

@media (max-width: 992px) {
    .AnimCard {
        transition: none;
        -webkit-transition: none;
        -moz-transition: none;
        -ms-transition: none;
        -o-transition: none;
}
}

/*boxes*/

.hosting, .popular, footer {
    background-color: #F2F2F2;
}

.hosting, .popular, .activity article {
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
}

/*_______________________________________HOSTING______________________________________*/


/*boxes*/

.hostingSection {
    display : flex;
    justify-content: center;
    gap: 30px;
    margin: 30px 0 20px 0px;

}

.hosting {
    height: 100%;
    padding: 3% 3% 2% 3%;
    flex: 1;
}

.hostingBox {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    Align-items: center; 
}

/*cards*/

.hostingCard {
    width: 270px;
    height: 220px;
    line-height: 1px;
    padding-bottom: 2%;
    margin-bottom: 3%;
}

/*img*/

.hostingCard img  {
    height: 65%;
    border-top-right-radius: 18px;
    border-top-left-radius: 18px;
}

/*global*/

.hostingCard .starRating {
    padding-left: 10px;
}

.hosting p{
    font-size: 20px;
    font-weight: 800;
    margin-left: 20px;
}

/*_______________________________________POPULAR______________________________________*/

/*boxes*/

.popular {
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3% 3% 0 3%;
}

.popular div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*cards*/

.popularCard {
    width: 320px;
    height: 160px;
    margin-bottom: 11%;
}

/*img*/

.popularCard img {
    width: 50%;
    height: 100%;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    float: left;
    padding-right: 10px;
}

/*global*/

.popular h4 {
    margin: 10px 0 5px 0;
}

.popular h5 {
    margin-bottom: 60px;
}

.popular div:first-child i {
    font-size: 25px;
}


/*RESPONSIVE*/

@media (max-width: 1031px) {
    .hostingBox {
        display: flex;
        flex-direction: column;
    }

    .hostingCard {
        width: 100%;
    }
}

@media (max-width: 992px) {

    .hostingSection {
        gap: 0;
        margin-left: 10px;
        display:flex;
        flex-direction: column;
    }

    .hosting {
        width: 100%;
        padding: 2% 2% 1% 2%;
        background: none;
    }
    
    .hostingBox {
        display: flex;
        flex-direction: column;
    }

    .hostingCard {
        width: 100%;
        height: 450px;
        min-width: 270px;
        min-height: 220px;
    }

    .hostingCard img  {
        height: 83%;
    }

    .popular {
        order: -1;
        width: 100%;
        margin-right: 20px;
        margin-bottom: 20px;
    }

    .popularCard {
        width: 100%;
        margin-bottom: 5%;
        min-width: 320px;
        min-height: 160px;
    }
}

@media (max-width: 768px) {

    .hostingSection {
        margin-left: 0;
    }

    .hosting {
        padding: 0;
        min-width: 375px;
    }

    .hostingCard {
        width: 100%;
        height: 220px;
        min-width: 270px;
    }

    .hostingCard img  {
        height: 60%;
    }

    .popular {
        margin-bottom: 20px;
        min-width: 375px;
    }

    .popular h3 i {
        margin-left: 80px;
    }

    .hosting p{
        margin-left: 0;
    }
}

/*_______________________________________ACTIVITY______________________________________*/

/*boxes*/

.activity {
    width: 100%;
    margin: 50px 0 50px 0px;
}

.activityBox {
    display: flex;
    flex-wrap: wrap; 
    gap: 40px; 
}

.cardVertical {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*cards*/

.cardLarge  {
    width: 320px;
    height: 460px;
}

.cardMedium {
    width: 340px;
    height: 240px;
}

.cardSmall {
    width: 340px;
    height: 180px;
}

/*img*/

.activity img {
    border-top-right-radius: 18px;
    border-top-left-radius: 18px;
}

.cardLarge img {
    height: 90%;
}

.cardMedium img {
    height: 80%;
}

.cardSmall img {
    height: 75%;
}

/*global*/

.activity h4 {
    margin: 10px 0 0 10px;
}

/*RESPONSIVE*/

@media (max-width: 992px) {

    .activity {
        margin: 50px 0 50px 5px;
    }

    .activityBox {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cardLarge {
        min-width: 340px;
        min-height: 460px;
        width: 100%;
    }
    
    .cardMedium {
        width: 100%;
        min-width: 340px;
        min-height: 240px;
        margin: 0;
    }

    .cardSmall {
        width: 100%;
        min-width: 340px;
        min-height: 180px;
        margin: 0;
    }

    .cardVertical {
        gap: 30px;
        width: 100%;
    }
}

@media (max-width: 768px) {
    .activity {
        margin-left: 0;
        min-width: 375px;
    }
}

/*_______________________________________FOOTER______________________________________*/

footer {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
}

footer ul {
    width: 33.33%;
    margin-left: 40px;
}

footer ul li:nth-child(2),
footer ul li:nth-child(3),
footer ul li:nth-child(4) {
    font-size: 15px;
    line-height: 30px;
    color: black;
}

footer ul li:nth-child(1) {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    margin-top: 30px;
}

/*RESPONSIVE*/

@media (max-width: 768px) {

    footer {
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        min-width: 340px;
    }
}


